node_modules/
package-lock.json
.env
.DS_Store
ssh-key-devops-app
ssh-key-devops-app.pub
ca.crt
ca.key
client_secret_699740198104-46guukldme7f9ufd96dvo1b68mg92hur.apps.googleusercontent.com.json
devops-toys.2024-10-04.private-key.pem
devopslaboratory-f90072620e7c.json
encoded.json
encoded2.json
.htpasswd
htaccess-loki.yaml 
azure-credentials.json
